body {
  max-width: 600px;
}

.container-a {
  display: flex;
  flex-direction: row;
  gap: 10px;

  /* demo purpose */
  overflow: hidden;
  background: red;
}

.item-a {
  flex: 1;

  /* demo purpose */
  background: blue;
  height: 100px;
}

.container-b {
  display: flex;
  flex-direction: row;
  margin: -5px;

  /* demo purpose */
  overflow: hidden;
  background: red;
}


.item-b {
  flex: 1;
  margin: 5px;

  /* demo purpose */
  background: blue;
  height: 100px;
}

.example {
  padding: 10px;
  margin: 10px;
  background: orange;
}
