:root {
  --item-w: 150px;
  --item-h: 100px;
  --container-w: 600px
}


body {
  max-width: var(--container-w);
}

.example {
  padding: 10px;
  margin: 10px;
  background: orange;
}

.container-a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  /* demo purpose */
  overflow: hidden;
  background: red;
}

.item-a {
  flex: 1;

  /* demo purpose */
  background: blue;
  height: var(--item-h);
  min-width: var(--item-w);
}

.container-b {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -5px;

  /* demo purpose */
  overflow: hidden;
  background: red;
}


.item-b {
  flex: 1;
  margin: 5px;

  /* demo purpose */
  background: blue;
  height: var(--item-h);
  min-width: var(--item-w);
}

